@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, Arial;
  scroll-behavior: smooth;
}

p,
span {
  color: rgb(2, 2, 42);
}

.slideUp {
  position: relative;
  opacity: 0;
  top: 50px;
  animation: slideUp 0.8s ease forwards;
}

.nav .in-view{
  background-color: #B3D32A1A;
}

.project-card{
  animation: zoomer 0.4s ease-out;
}

.slider {
  animation: slider 80s linear infinite;
}

.loader {
  background: rgb(209, 243, 72, 1);
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 0 0 rgba(209, 243, 72, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

.shake {
  animation: shake 4s infinite;
}

.react {
  transform-origin: center;
  animation: react 1s linear;
}

.redux {
  animation: redux 0.8s linear;
}

.html {
  animation: html 0.8s linear;
}

.tailwind {
  animation: tailwind 0.8s linear;
}

.mui {
  animation: mui 0.8s linear;
}

.css {
  animation: css 0.8s linear;
}

.js {
  animation: js 0.8s linear;
}

.ts {
  animation: ts 0.8s linear;
}

.github {
  animation: github 0.6s linear;
}

.react,
.redux,
.html,
.css,
.tailwind,
.mui,
.github,
.ts,
.js,
.slideUp,.project-card {
  animation-play-state: paused;
}

.react.in-view,
.redux.in-view,
.html.in-view,
.css.in-view,
.tailwind.in-view,
.mui.in-view,
.github.in-view,
.ts.in-view,
.js.in-view,
.slideUp.in-view,.project-card.in-view {
  animation-play-state: running;
}

@keyframes zoomer {
  0% {
    top: 200px;
    transform: scale(0);
  }
  100% {
    top: 0;
    transform: scale(1);
  }
}

@keyframes redux {
  0% {
    opacity: 0;
    top: -200px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes css {
  0% {
    opacity: 0;
    top: 200px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes mui {
  0% {
    opacity: 0;
    right: 200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes tailwind {
  0% {
    opacity: 0;
    left: 200px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes github {
  0% {
    opacity: 0;
    top: 200px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes html {
  0% {
    opacity: 0;
    top: -200px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes ts {
  0% {
    opacity: 0;
    bottom: 200px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes js {
  0% {
    opacity: 0;
    right: 200px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    top: 50px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes slider {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes react {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(209, 243, 72, 0.7);
    background: rgb(209, 243, 72, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(209, 243, 72, 0);
    background: rgb(209, 243, 72, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(209, 243, 72, 0);
    background: rgb(209, 243, 72, 0);
  }
}

@keyframes shake {
  5%,
  50% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1.15);
  }
  20% {
    transform: scale(1.15) rotate(-5deg);
  }
  25% {
    transform: scale(1.15) rotate(5deg);
  }
  30% {
    transform: scale(1.15) rotate(-3deg);
  }
  35% {
    transform: scale(1.15) rotate(2deg);
  }
  40% {
    transform: scale(1.15) rotate(0);
  }
}
